extends layout.pug

block content
  section#content
    h2= text
    if hint 
      p
        i Hint: #{hint}
    p
      a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
    p
      a(href='/cards') Next Card