doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 Flashcards
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisl purus. Nam auctor ex sed tortor efficitur congue. Etiam ac rutrum nisl. Sed eu eros tellus. Curabitur mauris felis, cursus ut purus eu, molestie suscipit nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus odio id facilisis porta. Sed vulputate, neque et porta condimentum, neque urna placerat purus, eu tincidunt sem ex a neque. Vestibulum a ex eleifend, bibendum leo vitae, dictum tellus.