doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    header
      h1 Flash Cards
      if name
        h2 Welcome, #{name}!
    block content
    footer
      if name
        form(action="/goodbye", method="post")
          button(type="submit") I'm Done
      p An app to help you study. 